<!DOCTYPE html>
<html>
  <head>
	<style>
	body {
		background-image: url('Background1.png');
		margin 0;
	}
	</style>
    <meta charset="utf-8">
    <title>Four Across</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="connect_four.css">

  </head>
  <body link="#ffffff" alink="#ffffff" vlink="#ffffff">
    <div class="container" align='center'>
      <h1><font "Helvetica" style="font-size: 48px" color = #ffffff>Welcome to Four Across!</h1>
      <h2><font "Helvetica" style="font-size: 48px" color = #ffffff>The object of this game is to connect four of your chips in a row!</h2>
      <h3><font "Helvetica" style="font-size: 48px" color = #ffffff>Let's get started!</h3>
      <table class="board">
        <tr>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
        </tr>
        <tr>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
        </tr>
        <tr>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
        </tr>
        <tr>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
        </tr>
        <tr>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
        </tr>
        <tr>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
          <td><button type="button"></button></td>
        </tr>
    </table>
	<form>
		<a style="font-size: 32px" link="#ffffff" alink="#ffffff" vlink="#ffffff" href="game_select.html">Return Home</a>
	</form>
    </div>

    </script>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="connect_four.js">

    </script>
  </body>
</html>
