doctype html
html
  head
    style.
      body {
      background-image: url('Background1.png');
      margin 0;
      }
      .title{
      position: relative;
      margin-bottom: -2000px;
      margin: 0;
      padding: 0;
      left: 599px;
      top: 10px;
      font-size: 90%;
      }
      .tictactxt {
      position: relative;
      margin-bottom: -2000px;
      margin: 0;
      padding: 0;
      top: 72.5px;
      left: 525px;
      font-size: 90%;
      }
      .chesstxt {
      position: relative;
      margin-bottom: -2000px;
      margin: 0;
      padding: 0;
      bottom: 300px;
      left: 177.5px;
      font-size: 90%;
      }
      .connecttxt {
      position: relative;
      margin-bottom: -2000px;
      margin: 0;
      padding: 0;
      bottom: 670px;
      left: 927.5px;
      font-size: 90%;
      }
      .mazetxt {
      position: relative;
      margin-bottom: -2000px;
      margin: 0;
      padding: 0;
      bottom: 1037.5px;
      left: 1290px;
      font-size: 90%;
      }
      .tictac {
      position: relative;
      margin-bottom: -2000px;
      margin:0;
      padding: 0;
      font-size: 90%;
      left: 440px;
      top: 64px;
      }
      .chess {
      position: relative;
      margin-bottom: -2000px;
      padding: 0;
      left: 56px;
      bottom: 317px;
      font-size: 90%;
      margin:0;
      }
      .connect {
      position: relative;
      margin-bottom: -2000px;
      padding: 0;
      left: 824px;
      bottom: 686px;
      font-size: 90%;
      margin: 0;
      }
      .maze {
      position: relative;
      margin-bottom: -2000px;
      padding: 0;
      font-size: 90%;
      bottom: 1055px;
      left: 1208px;
      margin: 0;
      }
      .signout {
      position: relative;
      margin-bottom: -2000px;
      padding: 0;
      margin: 0;
      font-size: 90%;
      bottom: 1525px;
      left: 30px;
      }
      .leader {
      position: relative;
      margin-bottom: -2000px;
      padding: 0;
      margin: 0;
      left: 640px;
      bottom: 1000px;
      font-size: 90%;
      }
      .chesslead {
      position: relative;
      margin-bottom: -2000px;
      padding: 0;
      bottom: 1095px;
      right: 206px;
      margin: 0;
      font-size: 90%;
      }
      .tictaclead {
      position: relative;
      margin-bottom: -2000px;
      padding: 0;
      bottom: 2157.5px;
      left: 178px;
      margin: 0;
      font-size: 90%;
      }
      .connectlead {
      position: relative;
      margin-bottom: -2000px;
      padding: 0;
      bottom: 3218px;
      left: 561px;
      margin: 0;
      font-size: 90%;
      }
      .mazelead {
      position:relative;
      margin-bottom: -2000px;
      padding: 0;
      bottom: 4280px;
      left: 945px;
      margin: 0;
      font-size: 90%;
      }
  body(link='#ffffff' alink='#ffffff' vlink='#ffffff')
    h1.title
      font("helvetica"='' style='font-size: 48px' color='#ffffff') Game Room Baby!
    font("helvetica"='' style='font-size: 48px' color='#ffffff')
      img.tictac(src='tictactoe.png' style='width:320px;height:320px;')
      p.tictactxt
        font("helvectia"='' style='font-size: 32px' color='#ffffff') Tic Tac Toe
      font("helvectia"='' style='font-size: 32px' color='#ffffff')
        img.chess(src='chess.png' style='width:320px;height:320px;')
        p.chesstxt
          font("helvectia"='' style='font-size: 32px' color='#ffffff') Chess
        font("helvectia"='' style='font-size: 32px' color='#ffffff')
          img.connect(src='connect4.png' style='width:320px;height:320px;')
          p.connecttxt
            font("helvectia"='' style='font-size: 32px' color='#ffffff') 4 Across
          font("helvectia"='' style='font-size: 32px' color='#ffffff')
            img.maze(src='maze.png' style='width:320px;height:320px;')
            p.mazetxt
              font("helvectia"='' style='font-size: 32px' color='#ffffff') Maze Game
            font("helvectia"='' style='font-size: 32px' color='#ffffff')
              form
                a.signout(style='font-size: 32px' href='login.html') Sign Out
              h1.leader
                font("helvetica"='' style='font-size: 48px' color='#ffffff') Leaderboards!
              font("helvetica"='' style='font-size: 48px' color='#ffffff')
                img.chesslead(src='lbo.png' style='width:1050px;height:1050px;')
                img.tictaclead(src='lbo.png' style='width:1050px;height:1050px;')
                img.connectlead(src='lbo.png' style='width:1050px;height:1050px;')
                img.mazelead(src='lbo.png' style='width:1050px;height:1050px;')
