<html>
    <head>
		<style>
		body 
		{
			background-image: url('Background2.png');
		}
		</style>
		<script src="register.js"></script>
    </head>
    <body>
		<form id='myForm' action="game_select.html">
        <center>
			<br><br><br><br>
			<h1><font face="Trebuchet MS" style="font-size: 64px" color="#000000">Register</font></h1>
			<h2>
				<font face="Trebuchet MS" style="font-size: 32px" color="#000000">Create a username and password</font>
				<br>
				<font face="Trebuchet MS" style="font-size: 24px" color="#000000">(This cannot be changed)</font>
			</h2>
			<form>
				<input type="text" style="height:50px; width:500px;" placeholder="Username" face="Trebuchet MS" style="font-size: 64px" color="#000000" id="txtUsername" name="txtUsername" required>
				<img id='usernameResult' width="30" height="30"><br>
				
				<br><br><br>
				
				<input type="text" style="height:50px; width:500px;" placeholder="Password" face="Trebuchet MS" style="font-size: 64px" color="#000000" id="txtPassword" name="txtPassword" required>
				<img id='passwordResult' width="30" height="30"><br>
				
				<br><br><br>
				
				<input type="text" style="height:50px; width:500px;" placeholder="Confirm Password" face="Trebuchet MS" style="font-size: 64px" color="#000000" id="txtPasswordCheck" name="txtPasswordCheck" required>
				<img id='passwordCheckResult' width="30" height="30"><br>
				
				<br><br><br>
				
				<a style="font-size: 32px" href="login.html">BACK TO LOGIN</a>
				<font face="Trebuchet MS" style="font-size: 32px" color="#000000">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</font>
				<a style="font-size: 32px" onclick="validate()" id="linkValidate" name="linkValidate">REGISTER</a>
				
				
				
				</p>
				<input onCLick="validate()" type="button" id="linkValidate" name="linkValidate" value="Validate"/>
				<p id="FinalResult">
				</p>				
				
				
				
			</form>
		</center>
    </body>
</html>