html
   head
      title Signup
   body
      h1 
         p this page works
      form(action = "/signup" method = "POST")
      input(name = "id" type = "text" required placeholder = "User ID")
      input(name = "password" type = "password" required placeholder = "Password")
      button(type = "Submit") Sign me up!